@charset "UTF-8";
/* Responsive Setup */
@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

/* css--------------- */

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab';
}

.ease-all {
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}


/* Content---------------------- */

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	display: none;
}

h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	text-align: left;
	margin: 1rem 5%;
	font-family: 'Sintony';
	color: #DB6946;	
}

p {
	line-height: 1.25rem;
	font-size: 15px;
	width: 90%;
	margin: 0 5%;
	padding-bottom: 1rem;
}

hr {
	width: 90%;
	margin-top: .25rem;
	margin-bottom: 1rem;
	margin-left: 5%;
	display: none;
	border-color: #DB6946;
}

img {
	width: 100%;
	margin-bottom: .5rem;
}

.capital-logo {
	width: 12rem;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.about {
	padding-bottom: 9rem;
}


@media only screen and (min-width: 18.75em) {
	
	hr {
		display: block;
	}
	
	.capital-logo {
		width: 15rem;
	}
}

@media only screen and (min-width: 62.5em) {
	
	main {
		margin-right: 16%;
	}
	
}

/*Services ------------------- */

.flexslider {
	max-width: 50rem;
	margin: 50px auto;
	border: 0;
	box-shadow: none;
}

.accordion {
	list-style-type: none;
	padding-bottom: 12rem;
}

.accordion li {
	border-top: 1px solid #000;
	position: relative;
}

last-child {
	border-bottom: 1px solid #000;
}

.accordion a {
	color: #DB6946;	
	font-weight: 400;
	margin: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Sintony'
}

.accordion a:hover,
.accordion a:active {
	color: #000;
}

h3 {
	margin: 0;
	padding: 20px;
	font-weight: 400;
}

.accordion :focus{
	outline: -webkit-focus-ring-color auto 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.accordion a:focus h3{
	border: 1px dotted #666;
}


.hidden {
	height:0;
	overflow: hidden;
	transition: all .2s ease-in-out;
}

a#item1:target + div.hidden,
a#item2:target + div.hidden,
a#item3:target + div.hidden {
	height:35%;
}

.print,
.apparel,
.design {
	width: 90%;
	margin: 0 5% 1rem 5%;
}

@media only screen and (min-width: 35em ) {

	.design,
	.apparel,
	.print  {
		width: auto;
	}
}

/* Prices -------------------- */

h4 {
	font-family: 'Sintony', sans-serif;
	margin-left: 1rem;
	text-transform: uppercase;
}
 
.rwd-table {
 	width: 100%;
 	font-family: 'Sintony', sans-serif;
 	font-size: 13px;
}
  
tr {
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

th {
	text-transform: uppercase;
	font-weight: 700;
}

td,
th {
	padding: .75rem;
}


/* Contact ------------------- */

.contact-html a:hover,
.contact-html a:focus {
	color: #000;
}

.contact-info ul {
	margin: 0 5%;
	text-align: center;
}

.contact-info li {
	display: inline-block;
	padding-top: 1.25rem;
	margin-bottom: .5em;
	text-align: center;
	list-style-type: none;
}

.contact-html a {
	text-decoration: none;
	color:#DB6946;
}

.contact-icon {
	width: 2.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contact-icon:hover {
	-webkit-transform: scale(1.5,1.5);
	-moz-transform: scale(1.5,1.5);
	-ms-transform: scale(1.5,1.5);
	-o-transform: scale(1.5,1.5);
	transform: scale(1.5,1.5);
}

#contact-form {
	width:90%;
	height:100%;
	margin: 0 auto;
	background: #DDD;
}

.container {
	width: 90%;
	height:auto;
	margin: 0 auto;
	padding: 50px 0;
}

#contact-form .container form input,
#contact-form .container form textarea {
	width:97.4%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#999;
	letter-spacing:1px;
	background: #FFF;
	border:2px solid #FFF;
	margin-bottom:25px;
 	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
}

#contact-form .container form input:focus,
#contact-form .container form textarea:focus {
	border:2px solid #dd4545;
	color:#999;
}

#contact-form .container form textarea {
	height:150px;
}

#contact-form .container form .submit {
	width:98%;
	padding:5px 10px;
	font-size: 12px;
	letter-spacing:1px;
	background:#DB6946;
	height:40px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
	border:2px solid #b75741;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
}

#contact-form .container form .submit:hover {
	color:#FFF;
	border:2px solid #b75741;
	background: #b75741;
	cursor:pointer;
}

#contact-form .container form .required {
	color:#b43838;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social li a,
.social li a:link,
.social li a:visited {
	display: block;
	height: 40px;
	width: 40px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 0.8125rem;
	color: #fff;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 0px 0px 40px #222;
	-moz-box-shadow: inset 0px 0px 0px 40px #222;
	-ms-box-shadow: inset 0px 0px 0px 40px #222;
	-o-box-shadow: inset 0px 0px 0px 40px #222;
	box-shadow: inset 0px 0px 0px 40px #222;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
	color: #DB6946;
	-webkit-box-shadow: inset 0px 0px 0px 3px #DB6946;
	-moz-box-shadow: inset 0px 0px 0px 3px #DB6946;
	-ms-box-shadow: inset 0px 0px 0px 3px #DB6946;
	-o-box-shadow: inset 0px 0px 0px 3px #DB6946;
	box-shadow: inset 0px 0px 0px 3px #DB6946;
}

.social p {
	text-align: center;
}

@media only screen and (min-width: 21.25em) {
	
	.contact-info li {
		display: block;
	}
		
}

/* Nav ------------------------ */
.nav-list {
	display: none;
	position: fixed;
	margin-left: 3rem;
	margin-top: 18rem;
	font-family: 'Sintony', sans-serif;
}

.nav-list li {
	padding: 1rem;
	margin-bottom: -1rem;
}

.nav-list a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.nav-list a:hover,
.nav-list a:focus {
	color: #DB6946;
}

.icon-list {
	width: 3rem;
	float: right;
	margin-top: -1rem;
	margin-left: 5rem;
}

.icon-list:hover {
	-webkit-transform: scale(1.5,1.5);
	-moz-transform: scale(1.5,1.5);
	-ms-transform: scale(1.5,1.5);
	-o-transform: scale(1.5,1.5);
	transform: scale(1.5,1.5);
}

.nav {
	position: fixed;
	bottom: 0;
	background-color: rgba(0, 0, 0, .8);
	width: 100%;
	height: 4.5rem;
}

.nav ul {
	margin-top: .5rem;
}

.nav li {
	display: inline;
	padding: .5rem;
}

.icons {
	width: 2.5rem;
	margin-top: .25rem;
}

.nav-rule {
	display: none;
	width: 90%;
	margin-left: 5%;
	border:none;
	background-color: whitesmoke;
	height: 1px;
}

@media only screen and (min-width: 50em) {
	
	.capital-logo {
		position: fixed;
		z-index: 100;
		margin-left: 2.5rem;
	}
	
	.about,
	.accordion,
	.flexslider,
	.prices {
		float: right;
		width: 59%;
		margin-right: 2.5rem;
	}
	
	.nav {
		left: 0;
		top: 0;
		width: 16rem;
		height: 32rem;
		margin-left: 2.5rem;
	}
	
	.nav-list {
		display: inline;
	}
	
	.nav ul {
		display: none;
	}
	
	.nav-rule {
		display: block;
	}
}